body {
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
    font-family: Roboto, 'Open Sans', sans-serif;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 0;
    margin: 0;
}

p{
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #c4c4c4;
    font-size: 18px;
    font-weight: 100;
}

.herobox{
    background-color: #1f2937;
    padding: 0 200px;
}

.infobox{
    padding: 30px 200px;
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.containerheader {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.image {
    width: 500px;
    height: 250px;
    background-color: #acacac;
    flex-shrink: 0;
}
.hero {
    display: flex;
    margin: 90px 0;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.herobutton {
    padding: 8px 24px;
    background-color: #3882f6;
    color: #F9FAF8;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
}

.Text{
    color: #c4c4c4;
    font-size: 18px;
    padding-bottom: 16px;
}

.imgbox {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    gap: 42px;


}
.img {
    width: 160px;
    height: 160px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}
.txt{
    font-size: 18px;
    color: #808080;
}
.infoheader {
    color: #1f2937;
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
}
.imgtxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    max-width: 168px;
}

.quotebox {
    padding: 100px 300px;
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;

}

.author{
    display: flex;
    justify-content: flex-end;
    color: #1f2937;
    font-size: 24px;
    font-weight: bolder;
}

.actionbox{
    padding: 90px 200px;
}
.containeraction{
    background-color: #3882f6;
    padding: 50px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    border-radius: 8px;
}
.actionbig{
    font-size: 24px;
    font-weight: bolder;
}
.actiontext{
    font-size: 18px;
    color: #e5e7eb;
}

.action {
    padding: 8px 24px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    background-color: #3882f6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    flex: none
}